.main-layout {
  display: flex;
  height: 100vh;
}

app-sidebar {
  width: 250px;
  background-color: #1e1e2f;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  background-color: #f8f9fa;
}
