.main-layout {
  display: flex;
  height: 100vh;
}

/* Make the sidebar fixed on the left */
app-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #1e1e2f;
  z-index: 1000;
}

/* Push main content to the right of the sidebar */
.main-content {
  margin-left: 320px; /* Same as sidebar width */
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  background-color: #f8f9fa;
  height: 100vh;
  box-sizing: border-box;
}
